#search
{
    width: 250px;
}
#searchCriteria 
{
    display: flex;
    flex-direction: column;
    align-content:flex-start;
}

#searchCriteria input
{
    align-content:flex-start;
}

#results 
{
    display: flex;
    width: 950px;
    flex-direction: column;
    margin: 0px 10px;
}

#today
{
    border: solid 1px black;
    height: 215px;
    align-content: center;
    padding-left: 5px;
}

body
{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1;
    justify-content: center;
    width: 1100px;
    margin: auto;
}

body h1
{
 display: flex;
 width: 100%;
 background: linear-gradient(to right, #3366cc 23%, #000066 100%);
 color: white;
 height: 50px;
 margin-bottom: 13px;

 text-align: center;
 justify-content: center;
 align-items: center;
}

#dashboard
{
    display: flex;
    justify-items:left
}

#todaysHeader
{
    display: flex;
    flex-direction: row;
    align-content: center;
}

#todaysHeader img
{
    height: 35px;
    vertical-align:  bottom;
    padding-left: 5px;
}

#searchText, #searchBtn, .historyBtn
{   
    border-radius: 5px;
    font-size: 14px;
    margin: 8px 16px 8px 20px;
    padding: 10px 14px;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
}

#searchBtn, .historyBtn
{
    height: 25px;
    line-height: 5px;
    text-align: center;
    background-color: rgb(90, 162, 234);
    color:white;
    border: none;
}

#searchText
{
    border: black .05em solid;
    margin-top: 0;
}

.historyBtn
{
    background-color: rgb(200, 199, 199);
    color: black;
    width: 100%;
}

hr 
{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:black;
    height: 1px;
}

#searchCriteria h2
{
    margin-top: 0;
}

.todayDetail
{
    margin-top: 0px;
    margin-bottom: 20px;
}

#uvDivEl
{
    width: 50px;
    text-align: center;
    border-radius: 5px;
    margin-left: 3px;
}

#todaysUV
{
    display: flex;
}